{{page-title 'User'}}
<div class="container">
  <h3 class="filter-text">Filters:</h3>
  <input type="checkbox" checked={{this.model.allUsers}} id="allUsers"
        onchange={{action "showAll"  value="target.checked"}}> 
  <label for="allUsers" class="filter-text">All Users</label> 
  
  <div class="columns is-centered">

    {{#each @model as |user|}}
      <div class="column">

        <LinkTo @route="users.user" @model={{user}}>
          <div class="user-select is-220px">
            <img
              class="is-pulled-left"
              src={{user.image}}
              width="60px"
              alt="profile-image"
            />
            <p>{{user.name}}</p>
          </div>
        </LinkTo>

      </div>
    {{/each}}

  </div>
</div>
